<H1>Login</H1>

  <div class="errors">
    <% if @errors%>
      <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

<form action="/users/login" method="post">
  Username: <input type="text" name="user[username]" placeholder="bob1234">
  <br>
  Password: <input type="password" name="user[password]">
  <br>
  <input type="submit" value="Login">
</form>
